[Desktop Entry]
Icon=/usr/share/clash-qt/clash-qt.png
Exec=clash-qt %u
Version=2.0-alpha
Type=Application
Categories=Network
Name=Clash Qt
Terminal=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
